:root {
    --color_background: #31313E;
    --color_header: #4E4E61;
    --color_sequence_background: #4E4E61;
    --color_sequence_border: #363644;
    --color_grab_handle: #CDCDFA;
    --color_grab_handle_border: #B2B2D9;
    --color_track_control_background: #B2B2D9;
    --color_track_control_border: #CDCDFA;
    --color_note_container_background: #8E8EAB;
    --color_note_container_active: #B2B2D9;
    --color_note_container_border: #363644;
    --color_note_inactive: #6C6C82;
    --color_note_active: #CDCDFA;
    --color_note_border: #6C6C82;
    --color_note_add_background: #4E4E61;
    --color_note_add_border: #6C6C82;
    --color_note_add_text: #6C6C82;
    --color_text: #CDCDFA;
}

* {
    font-family: "Varela Round", sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
    border: 0px;
    background-color: var(--color_background);
    color: var(--color_text);
}

h1 {
    padding: 12px;
    margin: 0px;
    border: 0x;
    background-color: var(--color_header);
    font-size: 32px;
    font-weight: 900;
}

.subtitle {
    margin: 0px;
    color: red;
    margin-bottom: 10px;
    padding: 0px;
    border: 0x;
    display: block;
}

button {
    border-radius: 2px;
}

#container_main {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 6px;
}

#container_controls {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 5px;
}

#button_play_pause {
    /* width: 25px; */
    height: 25px;
}

#button_stop {
    /* width: 25px; */
    height: 25px;
}

#button_save {
    height: 25px;
}

#button_load {
    height: 25px;
}

.control_bottons {
    border-radius: 50%;
}

#input_bpm {
    width: 40px;
}

#container_tracks {
    display: flex;
    flex-direction: column;
    background-color: var(--color_sequence_background);
    border-top: 1px solid var(--color_sequence_border);
    overflow: visible;
}

.track_drag_handle {
    width: 20px;
    border: 1px solid var(--color_grab_handle_border);
    background-color: var(--color_grab_handle);
    cursor: grab;
    
}

.track {
    border-bottom: 5px solid var(--color_sequence_border);
    display: flex;
    flex-direction: row;
}

.container_track_controls {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color_track_control_background);
    /* border-right: 1px solid var(--color_track_control_border); */
}

.container_note_sequence {
    width: 100%;
    /* background-color: #7F7F7F; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    padding: 4px;
}

#button_add_track {
    height: 24px;
    font-size: 16px;
}

.selection_instrument {
    height: 20px;
}

.button_delete_track {
    height: 20px;
}

.container_notes {
    width: 100px;
    height: 60px;
    transform: scale(1);
    padding: 1px;
    background-color: var(--color_note_container_background);
    border: 1px solid var(--color_note_container_border);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 5px;
    transition: width 0.1s ease, height 0.1s ease;
    z-index: 300;
}

.notes_current {
    background-color: var(--color_note_container_active);
}

.conainer_notes_expanded {
    width: 200px;
    height: 120px;
    z-index: 400;
}

.container_note_rows {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    pointer-events: none;
}

.note {
    width: 100%;
    background-color: var(--color_note_inactive);
    border-radius: 2px;
    margin: 1px;
    /* border: 1px solid var(--color_note_border); */
    pointer-events: none;
}

.active_note {
    background-color: var(--color_note_active);
}

.button_add_notes {
    width: 104px;
    height: 64px;
    padding: 0px;
    background-color: var(--color_note_add_background);
    border: 1px solid var(--color_note_add_border);
    border-radius: 2px;
    color: var(--color_note_add_text);
    font-size: 36px;
    font-weight: 900;
}

.dragging_track {
    opacity: 0.0;
}

.dragging_note {
    opacity: 0.0;
}